.sortable-chosen {
    border: 1px dashed lightgray;
    cursor: grabbing;
}

.sortable-ghost {
    opacity: 0.4;
    background-color: #c8ebfb;
}

.sortable-drag {
    opacity: 0.9;
}

.drag-handle {
    cursor: grabbing;
    right: 5px;
}

div.iitc-toolbox-header {
    border-top: 1px dashed dimgray;
}
