<div id="{{prefix}}Container">

    <fieldset id="items">
        <legend></legend>
        <div class="sortable-item">item 1<span class="drag-handle" aria-hidden="true">☰</span></div>
        <div class="sortable-item">item 2<span class="drag-handle" aria-hidden="true">☰</span></div>
        <div class="sortable-item">item 3<span class="drag-handle" aria-hidden="true">☰</span></div>
    </fieldset>

    <fieldset id="items2">
        <legend>HHH33</legend>
        <div>item 1a<span class="drag-handle" aria-hidden="true">☰</span></div>
        <div>item 2a<span class="drag-handle" aria-hidden="true">☰</span></div>
        <div>item 3a<span class="drag-handle" aria-hidden="true">☰</span></div>
    </fieldset>
</div>
