.sortable-chosen {
    border: 1px dashed lightgray;
    cursor: grabbing;
}

.sortable-ghost {
    opacity: 0.4;
    background-color: #c8ebfb;
}

.sortable-drag {
    opacity: 0.9;
}

.drag-handle {
    cursor: grabbing;
    padding-right: 10px;
}

div.sortable-item span.context-menu {
    float: right;
    cursor: pointer;
}

div.sortable-item span.context-menu:hover {
    background-color: lightyellow;
    color: navy;
}

div.sortable-item span.context-menu.item-hidden {
    color: crimson;
}

/* IITC Sidebar */
div.iitc-toolbox-header {
    color: dimgray;
}

#toolbox_component a.item-hidden{
    display: none;
}
